{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Keys</title>
</head>
<body>

    <h2>Upload CSV File</h2>
    
    <form id="upload-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="csv_file" id="csv_file" accept=".csv" required><br><br>
        
        <!-- Button 1 -->
        <button type="submit" formaction="{% url 'verification:appendKeys' %}">Append</button>
        
        <!-- Button 2 -->
        <button type="submit" formaction="{% url 'verification:replaceKeys' %}">Replace</button>
    </form>
    {% if message %} 
        <h3 style="color: green;">{{ message }}</h3>
    {% endif %}
</body>
</html>
