{% load static %}
<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--=============== FAVICON ===============-->
        <link rel="shortcut icon" href="{% static 'verification/assets/img/overlay.png' %}" type="image/x-icon">

        <!--=============== REMIX ICONS ===============-->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="{% static 'verification/assets/css/styles.css' %}">
        <link rel="stylesheet" href="{% static 'verification/assets/css/mystyles.css' %}">

        <title>Hungry Wolf|Tren-E 200 (Trenbolone Enanthate)</title>

        <script type='application/ld+json'>
            {
              "@context": "http://www.schema.org",
              "@type": "product",
              "brand": "Tren-E"
              "name": "https://www.hungrywolfpharma.de/verification/trena/",
              "description": "Trenbolone Enanthate (Tren-E) users widely experience side effects though they can expect rapid gains in muscle size and strength. This steroid is often used in cutting cycles due to its ability to cause hardening of the muscles and positively changing a persons body composition.

              Trenbolone Enanthate is also said to be responsible for a high level of fat loss and increased muscle hardness. Due to its high androgenic characteristics, Trenbolone Enanthate is not a suitable steroid to be taken by women. It is generally used by athletes, bodybuilders, strength athletes and those seeking higher levels of aggression and muscle hardness. Trenbolone was widely used to improve feed efficiency and mineral absorption in livestock.",
              "aggregateRating": {
                "@type": "aggregateRating",
                "ratingValue": "4.5",
                "reviewCount": "450"
              }
            }
             </script>

             <script type="application/ld+json">
                {
                  "@context": "https://schema.org",
                  "@type": "FAQPage",
                  "mainEntity": {
                    "@type": "Question",
                    "name": "what is Tren-E"
                    "acceptedAnswer": {
                      "@type": "Answer",
                      "text": "Trenbolone Enanthate (Tren-E) users widely experience side effects though they can expect rapid gains in muscle size and strength. This steroid is often used in cutting cycles due to its ability to cause hardening of the muscles and positively changing a person’s body composition.

                      Trenbolone Enanthate is also said to be responsible for a high level of fat loss and increased muscle hardness. Due to its high androgenic characteristics, Trenbolone Enanthate is not a suitable steroid to be taken by women. It is generally used by athletes, bodybuilders, strength athletes and those seeking higher levels of aggression and muscle hardness. Trenbolone was widely used to improve feed efficiency and mineral absorption in livestock.",
                    }
                  }
                }
                </script>
    </head>
<body>
    <div class="overlay">
        <img src="{% static 'verification/assets/img/overlay.png' %}" alt="" class="overlay-img">
    </div>
    <!--=============== HEADER ===============-->
    <header class="header" id="header">
        <nav class="nav container">
            <a href="index.html" class="nav__logo">
                <img src="{% static 'verification/assets/img/overlay.png' %}" alt="">
            </a>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="{% url 'verification:homepage' %}" class="nav__link active-link">Home</a>
                    </li>
                    <li class="nav__item">
                        <a href="#despid" class="nav__link">Product Description</a>
                    </li>
                    <li class="nav__item">
                        <a href="{% url 'verification:verify_authenticity' %}" class="nav__link glow">Product-Authentication</a>
                    </li>
                </ul>

                <div class="nav__close" id="nav-close">
                    <i class="ri-close-line"></i>
                </div>
            </div>

            <div class="nav__toggle" id="nav-toggle">
                <i class="ri-function-line"></i>
            </div>
        </nav>
    </header>

    <main class="main">
        <!--=============== HOME ===============-->
        <section class="home section" id="home">
            <div class="home__container container grid">
                <div>
                     <img src="{% static 'verification/assets/img/overlay.png' %}" alt="" class="home__img">
                </div>

                <div class="home__data">
                    <div class="home__header">
                        <!--<h1 class="home__title">Tren- (Trenbolone Enanthate)</h1>-->
                        <h2 class="home__subtitle">Tren- (Trenbolone Enanthate)</h2>
                    </div>

                    <div class="home__footer">
                        <h3 class="home__title-description">Overview</h3>
                        <p class="home__description">TTrenbolone Enanthate (Tren-E) users widely experience side effects though they can expect rapid gains in muscle size and strength. This steroid is often used in cutting cycles due to its ability to cause hardening of the muscles and positively changing a person’s body composition.

                            Trenbolone Enanthate is also said to be responsible for a high level of fat loss and increased muscle hardness. Due to its high androgenic characteristics, Trenbolone Enanthate is not a suitable steroid to be taken by women. It is generally used by athletes, bodybuilders, strength athletes and those seeking higher levels of aggression and muscle hardness.
                             Trenbolone was widely used to improve feed efficiency and mineral absorption in livestock.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="description">
            <div class="desp">Description</div>
            <div class="desp-title"><h3>Packaging: Single vial with silicone stopper, containing 10ml of product.</h3>
                <style>
                    table {
                        width: 100%;
                        border-collapse: collapse;
                        text-align: left;
                    }
                    th, td {
                        padding: 10px;
                        border: 1px solid #000;
                    }
                    th {
                        background-color: #333;
                        color: #fff;
                    }
                </style>
            </head>
            <body>

            <table>
                <thead>
                    <tr>
                        <th colspan="2">💉 EACH ML CONTAINS:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Trenbolone Enanthate</td>
                        <td>BP 200mg</td>
                    </tr>
                    <tr>
                        <td>Benzyl Alcohol</td>
                        <td>BP 2%</td>
                    </tr>
                    <tr>
                        <td>Benzyl Benzoate</td>
                        <td>BP 14.5%</td>
                    </tr>
                    <tr>
                        <td>Grape Seed Oil</td>
                        <td>BP q.s.</td>
                    </tr>
                </tbody>
            </table>
                <h3>Dosage & administration:</h3>
            </div>
            <div class="desp-table">
              <div class="table-left">
                <h4>Half life :</h4>
                <h4>Adult dose (Male) :</h4>
                <h4>Adult dose (Female) :</h4>
                <h4>Average Cycle Length:</h4>
                <h4>Anabolic #:</h4>
                <h4>Androgenic #:</h4>
                <h4>Bioavailability:</h4>
                <h4>CAS Name:</h4>
              </div>
              <div class="table-right">
                <p>6 days</p>
                <p>150-450mg ETD or EFD by intramuscular injection</p>
                <p>25-50mg ED or EOD by intramuscular injection</p>
                <p>4-16 weeks following and ED or ED injection regime</p>
                <p>500</p>
                <p>500</p>
                <p>Estimated at 100%</p>
                <p>17-Hydroxyestra-4,9,11-trien-3-one</p>
              </div>
            </div>
        </section>
        <section class="paragraph  section" id="despid">
            <div class="para">
                <h2>HOW TO DILUTE/ CUT HIGH MG OILS</h2>
                <p>Some of our injectables are highly concentrated and will produce pain during injection and afterward (PIP) if injected directly.
                     To prevent this, you need to dilute (cut) these HIGH-MG injectables with a carrier oil/base.

                     Generally, anything above 250mg/ml should be diluted before injection.</p>
            </div>
            <div class="para">
                <h2>How to Dilute:</h2>
                <p>1.Determine which base you need:
                     Look at the ingredients list on the product page OR on the label.
                     Made with Grape seed oil (GSO)? Dilute with Sterile Oil.
                     Made with PEG/MEG/Glycol base? Dilute with PEG/MEG BASE.
                   2.Mix your product with the corresponding base in a syringe (or a new sterile vial).
                     Initially, mix with a 1:1 ratio, diluting more if needed.
                     Example: Mix 0.5ml of Gigatest 750 with 0.5ml grape seed oil in the same syringe.
                    </p>
            </div>
            <!-- <div class="para">
                <h2>Dianabol Recommendations</h2>
                <p>The dosage range for Dianabol is typically 20-50 mg/day. Unlike most injectables, little further benefit occurs from going beyond this milligram amount. If wishing more effect, the answer is instead to add another anabolic steroid. My preference is for dosing to be 3-5 times per day, but some prefer to use it only once per day.

                    Typically, this usage is combined with about 500-1000 mg/week total of injected anabolic steroids.

                    As with any anabolic steroid cycle, Dianabol should be followed with PCT (post-cycle therapy) employing Clomid, Nolvadex, or toremifene.</p>
            </div> -->
        </section>
    </main>
    <script src="https://unpkg.com/scrollreveal"></script>

        <!--=============== MAIN JS ===============-->
        <script src="{% static 'verification/assets/js/main.js' %}"></script>
</body>
</html>