{% load static %}
<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--=============== FAVICON ===============-->
        <link rel="shortcut icon" href="{% static 'verification/assets/img/overlay.png' %}" type="image/x-icon">

        <!--=============== REMIX ICONS ===============-->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="{% static 'verification/assets/css/styles.css' %}">
        <link rel="stylesheet" href="{% static 'verification/assets/css/mystyles.css' %}">
     
        <title>Hungry Wolf</title>
    </head>
<body>
    <div class="overlay">
        <img src="{% static 'verification/assets/img/overlay.png' %}" alt="" class="overlay-img">
    </div>
    <!--=============== HEADER ===============-->
    <header class="header" id="header">
        <nav class="nav container">
            <a href="index.html" class="nav__logo">
                <img src="{% static 'verification/assets/img/overlay.png' %}" alt="">
            </a>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="{% url 'verification:homepage' %}" class="nav__link active-link">Home</a>
                    </li>
                    <li class="nav__item">
                        <a href="#despid" class="nav__link">Product Description</a>
                    </li>
                    <li class="nav__item">
                        <a href="{% url 'verification:verify_authenticity' %}" class="nav__link glow">Product-Authentication</a>
                    </li>
                </ul>

                <div class="nav__close" id="nav-close">
                    <i class="ri-close-line"></i>
                </div>
            </div>

            <div class="nav__toggle" id="nav-toggle">
                <i class="ri-function-line"></i>
            </div>
        </nav>
    </header>

    <main class="main">
        <!--=============== HOME ===============-->
        <section class="home section" id="home">
            <div class="home__container container grid">
                <div>
                    <img src="{% static 'verification/assets/img/win.png' %}" alt="" class="home__img">
                </div>
                
                <div class="home__data">
                    <div class="home__header">
                        <h1 class="home__title">WIN-R</h1>
                        <h2 class="home__subtitle">(Winstrol)</h2>
                    </div>

                    <div class="home__footer">
                        <h3 class="home__title-description">Overview</h3>
                        <p class="home__description">Stanozolol, a potent 17-alpha-alkylated anabolic steroid, boasts exceptional oral bioavailability. With a myotropic action significantly higher than its androgenic ratio, 
                            it avoids aromatization and water retention. As one of the most enduring and versatile steroids, 
                            Stanozolol, often stacked with various compounds, remains highly effective and reliable</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="description">
            <div class="desp">Description</div>
            <div class="desp-title"><h3>Packaging: 100 capsules in a sealed box.</h3>
                <h3>Dosage & administration:</h3>
            </div>
            <div class="desp-table">
              <div class="table-left">
                <h4>Half life :</h4>
                <h4>Dose :</h4>
                <h4>Average Cycle Length:</h4>
                <h4>Anabolic #:</h4>
                <h4>Androgenic #:</h4>
                <h4>Oral Bioavailability:</h4>
                <h4>CAS Name:</h4>
                <h4>Synonyms:</h4>
              </div>
              <div class="table-right">
                <p>24 hours</p>
                <p>10-200mg per day or as required</p>
                <p>4 to 8 weeks</p>
                <p>320</p>
                <p>30</p>
                <p>Estimated at 84%</p>
                <p>(5a,17b)-17-Methyl-2H-androst-2-eno[3,2-c]pyrazol-17-ol</p>
                <p>Stanozolol, Winstrol, Stana, Win R</p>
              </div>
            </div>
        </section>
        <section class="paragraph  section" id="despid">
            <div class="para">
                <h2>Multifaceted Health Impacts of a Therapeutic Intervention</h2>
                <p>Stanozolol has been utilized for weight reduction administration as a part of HIV patients with unending obstructive aspiratory ailment and has demonstrated noteworthy change in weight,
                     body mass file, LBM, and muscle size. Stanozolol has been approved in vitro to altogether improve collagen amalgamation. A constructive outcome of Stanozolol on recuperation in patients with non-mending wounds has additionally been illustrated. 
                    Clinical studies demonstrate that the treatment with Stanozolol amid the period of chemotherapy results in a beneficial outcome on the span of cancer-free remission.</p>
            </div>
            <div class="para">
                <h2>What other drugs will affect stanozolol?</h2>
                <p>An anticoagulant (blood thinner) such as warfarin (Coumadin); or

                    insulin or an oral diabetes medicine such as glipizide (Glucotrol), glyburide (DiaBeta, Glynase, Micronase), glimepiride (Amaryl), chlorpropamide (Diabinese), acetohexamide (Dymelor), tolbutamide (Orinase), tolazamide (Tolinase), and others.
                    
                    You may require a dosage adjustment or special monitoring if you are taking any of the medicines listed above.
                    
                    Drugs other than those listed here may also interact with stanozolol. Talk to your doctor and pharmacist before taking any prescription or over-the-counter medicines, including vitamins, minerals, and herbal products.</p>
            </div>
        </section>
    </main>
    <script src="https://unpkg.com/scrollreveal"></script>

        <!--=============== MAIN JS ===============-->
        <script src="{% static 'verification/assets/js/main.js' %}"></script>
</body>
</html>